header {
  background-color: #f15b31;
  color: #ffffff;
  padding: 30px 20px 30px 20px;
}

body {
  margin: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

main {
  width: 850px;
  margin: 35px auto;
}

img {
  margin: 45px 8px;
}
nav {
  background-color: #00a6b3;
  color: FFFFFF;
  padding: 20 0 20 0;
}

nav a {
  margin: 0 20 0 20;
  color: FFFFFF;
}

h1 {
  margin: 0;
  font-family: Raleway;
  color: #0d2c40;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 1px;
}
h2 {
  font-family: Raleway;
  color: #0d2c40;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

a {
  font-family: Raleway;
  color: #f15b31;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  border-bottom: 2px solid transparent;
}
a:hover {
  border-color: white;
}
p {
  font-family: "Droid Serif";
  font-size: 18px;
  line-height: 26px;
}
footer {
  padding: 0 20px;
  background-color: #0d2c40;
  color: white;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}
.copyright {
  font-family: Raleway;
  float: left;
}
.message {
  font-family: Raleway;
  float: right;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}
.name {
  color: #f15b31;
  font-weight: 700;
}
